[user]
	name = eV
	email = ev@7pr.xyz
	signingkey = 0x6B4CA47F11FA6487
[color]
	diff = auto
	status = auto
	branch = auto
[core]
  editor = vim
  pager = "less -F -X"
[receive]
  denyCurrentBranch = warn
[diff]
	tool = vimdiff
	noprefix = true
[difftool]
	prompt = false
[alias]
	d = difftool
	s = status
  l = log
  c = commit
  m = mergetool
	ctags = !.git/hooks/ctags
[include]
  path = .localgitconfig
[push]
	default = simple
[merge]
	tool = vimmerge
[mergetool]
	prompt = false
[mergetool "vimmerge"]
	cmd = vimmerge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
	keepBackup = false
[commit]
	gpgsign = true
